body {
    text-align: center;
    background-color: rgba(218, 209, 209, 0.737);
    color: black;
}


table {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}


th, tr, td {
    color: black;
    border: 1.5px solid;
    text-align: center;
    background-color: whitesmoke;
    padding: 5px;
}

td{
    background-color: rgb(75, 218, 99);
}

/* td{
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    overflow: visible;
}*/

td:hover{
    -webkit-transform: scale(1.25);
    transform: scaleY(1.25) scaleX(1.25);
    margin-left: -64px\9; 
    margin-top: -9px\9;
    margin-right: -64px\9; 
    margin-bottom: -9px\9;
    z-index: 1;
}
.day:hover, .empty:hover{
    transform: none;
}

.day, th{
    background-color: rgb(232, 205, 169);
}

.dark{
    background-color: rgb(43, 41, 41);
    color: white;
}

.button{
    border-radius: 5%;
    padding: 5px;
    margin-top: 20px;
    border: 1.5px solid;
}